<TMPL_INCLUDE NAME = "../../templates/headers/header.tmpl">
<noscript><span style = "margin-left: 10px; margin-top: 10px; font-size: 26px; font-weight: bold;">You must have JavaScript enabled to view this page!</span></noscript>

<div id = "unstableError"></div>

<div id = "portletControls"></div>

<div id = "portletContainer"> 
    <div class="column">
   
    </div>
  
    <div class="column">

    </div>
        
    <div class="column">

    </div>  
</div>

<TMPL_INCLUDE NAME = "../../templates/footers/footer.tmpl">
